<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="NODE_ENV" value="development" />
        <add key="DB_USERNAME" value="root" />
        <add key="DB_PASSWORD" value="P@ssw0rd" />
        <add key="DB_NAME" value="com-api" />
        <add key="DB_HOST" value="127.0.0.1" />
        <add key="JWT_SECRET_KEY" value="arkadm" />
    </appSettings>

    <system.webServer>
        <iisnode nodeProcessCommandLine="C:\Program Files\nodejs\node.exe" />
        <handlers>
            <add name="iisnode" path="src/app.js" verb="*" modules="iisnode" />
        </handlers>

        <rewrite>
            <rules>
                <rule name="myapp">
                    <match url="/*" />
                    <action type="Rewrite" url="src/app.js" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>

<!-- <configuration>
    <system.webServer>
        <handlers>
            <add name="iisnode" path="src/app.js" verb="*" modules="iisnode" />
        </handlers>

        <rewrite>
            <rules>
                <rule name="nodejs">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/src/app.js" />
                </rule>
            </rules>
        </rewrite>

        <security>
            <requestFiltering>
                <hiddenSegments>
                    <add segment="node_modules" />
                    <add segment="iisnode" />
                </hiddenSegments>
            </requestFiltering>
        </security>
    </system.webServer>
</configuration> -->

<!-- <configuration>
    <system.webServer>
        <handlers>
            <add name="iisnode" path="src/app.js" verb="*" modules="iisnode" />
        </handlers>
        <rewrite>
            <rules>

                <rule name="LogFile" patternSyntax="ECMAScript" stopProcessing="true">
                    <match url="^[a-zA-Z0-9_\-]+\.js\.logs\/\d+\.txt$" />
                </rule>

                <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
                    <match url="^src/app.js\/debug[\/]?" />
                </rule>

                <rule name="StaticContent">
                    <action type="Rewrite" url="public{REQUEST_URI}" />
                </rule>

                <rule name="DynamicContent">
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
                    </conditions>
                    <action type="Rewrite" url="src/app.js" />
                </rule>

            </rules>
        </rewrite>
    </system.webServer>
</configuration> -->